<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>

  </header>
  <div class="container2">
    <!-- whole container -->
    <div class="container1">
      <!-- inner container -->
      <div class="item1">
        <h4 align="center">item1</h4>
        
      </div>
      <div class="item2">
        <h4 align="center">item2</h4>
      </div>
    </div>
    <div class="item3">
      <h4 align="center">item3</h4>
    </div>
    </div>
  </div>
  <footer>
    
  </footer>
</body>