<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles1.css">
</head>
<body>
    <div class="container">
        <div class="box1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis beatae, possimus et, recusandae in aut, nesciunt debitis illo fugiat minima architecto ut enim rerum quis praesentium reprehenderit amet mollitia dolores.</div>
        <div class="box2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora earum ut quis sit, itaque commodi asperiores enim officia sed autem natus sunt libero quasi, quisquam repellendus necessitatibus possimus provident non.</div>
        <div class="box3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur repellat architecto, minus quod nulla modi, qui velit nam officiis atque possimus ullam doloremque deleniti, cum rerum recusandae similique corrupti minima!</div>
        <div class="box4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores unde excepturi qui quam ipsa porro maxime voluptas amet hic aliquam. Minima et mollitia omnis impedit. Accusamus voluptate ut illum fugit?</div>
        <div class="box5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, nesciunt saepe porro sed sunt hic cum similique eius consequatur enim, nobis tempora libero sapiente. Et exercitationem quas delectus asperiores ea!</div>
        <div class="box6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo debitis officiis sunt laborum odio nobis, impedit pariatur ducimus libero quod quaerat facilis ex nulla veniam est quidem doloribus expedita illo.</div>
        <div class="box7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore dicta ex aut distinctio perspiciatis debitis ipsum nisi. Rerum obcaecati aliquam repellendus, neque quam impedit cumque ex sit facere possimus quod!</div>
        <div class="box8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt assumenda ab, ea quas ipsam debitis distinctio libero commodi corporis, repellat excepturi dolor nemo laboriosam et dolorum aspernatur. Repellat, laborum iure!</div>
        <div class="box9">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia vel distinctio autem accusantium cumque. Dolor accusantium sapiente id dolores sint error eaque quos excepturi, culpa blanditiis dignissimos! Quo, laboriosam id!</div>
    </div>
</body>
</html>